#app {
  margin-top: -45px;
}

.submit-btn {
  margin-bottom: 13px;
}

.logout-btn {
  margin-right: 10px;
  float: right;
}

.login-btn {
  margin-right: 40px;
}

.signup-btn {
  margin-right: 26px;
}

.profile {
  padding-top: 20px;
  width: 600px;
  margin: 0 auto;
}

.habit-info {
  padding: 50px;
  border: 2px solid #00816A;
}

.profile-info {
  padding-bottom: 85px;
  text-align: center;

}

.signup-group {
  padding-top: 57px;
}

.signup-btn-group {
  margin-left: 30px;
  margin-top: 30px;
}

.btn-group {
  margin-left: 47px;
  margin-top: 50px;
}

.back-btn {
  margin-right: 10px;
  float: right;
}

.timer-block {
  margin-top: 73px;
  margin-left: 30px;
  float: left;
}

.login {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  margin-top: 20%;
  padding-top: 3%;
  border: 5px solid white;
  border-radius: 5px;
}

// .login {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 500px;
//   height: 500px;
//   margin-left: -250px;
//   margin-top: -250px;
//   border: 5px solid white;
//   border-radius: 5px;
// }

.timer {
	margin: 0 auto;
	align-self: center;
	max-width: 50%;
	text-align: center;
	margin-bottom: 50px;
}

.settings-bar {
	max-width: 50%;
	width: 200px;
	height: 100vh; /* 100% height of window */
	border: 2px solid black;
	-webkit-align-self: flex-start;
	align-self: flex-start;
}

.checkboxes {
	padding-top: 20px;
	padding-left: 20px;
	text-align: middle;
}

.checkbox {
	padding-top: 5px;
}

.settings-bar .checkboxes label {
	margin-right: 5px;
}


.drop-down {
	padding-top: 20px;
	padding-left: 20px;
}

.plusMinus {
  background-color: #00816A;
  color: #fff;
  border-radius: 5px;
  font-family: sans-serif;
}

.countdown-btn {
  margin-left: 35px;
	margin-top: 10px;
}

body{
  text-align: center;
  background: #00ECB9;
  font-family: sans-serif;
  font-weight: 100;
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 80px;
  margin-bottom: -25px;
}

.breakrLogin {
  margin-top: -40px;
  margin-bottom: 50px;
}

h2 {
  color: #396;
  font-size: 40px;
  font-weight: 100;
}

.welcome {
  letter-spacing: 4px;
  margin-top: 50px;
}

h3 {
  color: #396;
  font-weight: 100;
  font-size: 30px;
  margin: 40px 0px 20px;
}

.password {
  margin-left: -65px;
}

.genpassword {
  margin-left: -4px;
}

.username {
  margin-left: -10px;
}

label {
  color: #396;
  font-size: 18px;
  padding: 10px;
}

.clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: flex;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    margin: 10px 60px;
}

.clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

.clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

.break-timer {
  margin-left: -85px;
  display: block;
}

.hourglass-img {
  margin-right: 50px;
  margin: auto;
  width: 300px;
  height: 400px;
  border: 8px solid #00816A;
  border-radius: 10px;
  float: right;
  margin-top: 50px;
}

.glass {
  height: 390px;
  margin-left: -18px;
  margin-top: 2px;
}

input {
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 14px;
  margin: 5px;
}

button:focus {outline:0;}

button {
  margin-top: 10px;
  background-color: #00816A;
  color: #fff;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 14px;
  padding: 10px;
  border: none;
}

.timer-glass {
  margin-top: -55px;
}

.form-control {
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 14px;
  margin: 5px;
}


/**** FANCY ****/

@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}





